.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999; /* 🔥 VERY IMPORTANT */
}

.popup-container {
  width: 800px;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  display: flex;
  overflow: hidden;
  position: relative;
}

/* LEFT */
.popup-left {
  flex: 1;
  padding: 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-img {
  height: 40px;
  object-fit: contain;
}

.popup-left h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #1c3faa;
}

.popup-left label {
  font-size: 13px;
  display: block;
  margin-bottom: 8px;
}

.popup-left input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 15px;
  color: #000;
}

.continue-btn {
  padding: 12px;
  background: #1c3faa;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.continue-btn:hover {
  background: #16348a;
}

.terms {
  font-size: 11px;
  margin-top: 10px;
  color: #777;
}

.terms span {
  color: #1c3faa;
}

/* RIGHT */
.popup-right {
  flex: 1;
  background: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-right img {
  width: 120%;
  height: auto;
  object-fit: contain;
}

/* CLOSE BUTTON */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .popup-container {
    flex-direction: column;
    width: 90%;
  }

  .popup-right {
    display: none;
  }
}
