/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

/* ===================== */
/* TOPBAR */
/* ===================== */

.topbar {
  background: #00246d;
  color: white;
  font-size: 14px;
}

.topbar-container {
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 30px;
}

.topbar-right a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.topbar-left {
  font-weight: 300;
  font-family: "Quicksand", sans-serif;
}

/* ===================== */
/* NAVBAR */
/* ===================== */

.navbar {
  background: #ffffff;
}

.nav-container {
  max-width: 1200px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 30px 30px;
}

/* LOGO */

.logo img {
  height: 54px;
}

/* MENU */

.menu {
  display: flex;
  gap: 40px;
}

.menu a {
  text-decoration: none;
  color: #111;
  font-weight: 400;
  font-size: 16px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

/* RIGHT SIDE */

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* LOGIN BUTTON */

.login-btn {
  background: #003296;
  color: white;

  border: none;

  padding: 10px 16px;

  border-radius: 8px;

  cursor: pointer;
}

/* CART */

.cart-icon {
  position: relative;
  cursor: pointer;
  color: #111;
}

.cart-badge {
  position: absolute;

  top: -3px;
  right: -6px;

  background: #003296;
  color: white;

  font-size: 11px;

  padding: 2px 6px;

  border-radius: 50%;
}

/* MOBILE MENU BUTTON */

.menu-toggle {
  display: none;
  cursor: pointer;
}

.account-dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 45px;
  right: 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 150px;
  overflow: hidden;
  z-index: 999;
}

.dropdown-item {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  color: #111;
}

.dropdown-item:hover {
  background: #f5f5f5;
}

/* ===================== */
/* TABLET */
/* ===================== */

@media (max-width: 1024px) {
  .menu {
    gap: 25px;
  }
}

/* ===================== */
/* MOBILE */
/* ===================== */

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .menu {
    position: absolute;

    top: 160px;
    left: 0;

    width: 100%;

    background: white;

    flex-direction: column;

    align-items: center;

    gap: 20px;

    padding: 20px 20px;

    display: none;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    z-index: 11;
  }

  .menu.active {
    display: flex;
  }
}

/* ===================== */
/* SMALL PHONES */
/* ===================== */

@media (max-width: 480px) {
  .topbar {
    font-size: 12px;
  }

  .logo img {
    height: 36px;
  }

  .login-btn {
    padding: 8px 12px;
    font-size: 12px;
  }
}
